.admin-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height for centering */
    background: linear-gradient(to right, #6a11cb, #2575fc);
  }
  
  .admin-login-container {
    max-width: 400px;
    width: 90%; /* Responsive for smaller screens */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .admin-logo {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .admin-form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .admin-form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .admin-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .admin-password-container {
    position: relative;
  }
  
  .admin-eye-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .admin-error {
    color: red;
    font-size: 14px;
  }
  
  .admin-login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-login-button:hover {
    background-color: #0056b3;
  }
  